.banner {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://www.ecomicrowave.com/App/images/%E4%BA%A7%E5%93%812016822175228.jpg");
}
