.footer {
  background-color: #212526;
  margin-top: auto;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 60px 0;
}

.items {
  display: flex;
  flex-direction: column;

  & > li {
    color: #fff;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    margin-bottom: 16px;
  }
}

.contact {
  & > img {
    margin-bottom: 26px;
  }
  & > h3 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    margin-bottom: 24px;
  }

  & > p {
    margin-top: 24px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}

.link {
  margin-right: 10px;
}
